### Tempfiles ###
.devcontainer/.features.temp.dockerfile

### VS Code ###
# We actually want to sync this
# .vscode/

### Mac OS ###
.DS_Store

### R ###
.RData
.Rhistory
external/R/doc/manual/*.html
external/R/doc/NEWS.pdf
..Rcheck

### C ###
.cache
.gdb_history
compile_commands.json
*.so
*.o

### IntelliJ IDEA ###
/.idea/uiDesigner.xml
