### Tempfiles ###
.devcontainer/.features.temp.dockerfile

### VS Code ###
# We actually want to sync this
# .vscode/

### Mac OS ###
.DS_Store
client/include/.cache/clangd/index
client/rsh/.cache/clangd/index
client/rsh/.RData
client/rsh/.Rhistory
