[submodule "external/R"]
	path = external/R
	url = https://github.com/PRL-PRG/r-compiler-server-gnur
	ignore = untracked
[submodule "/workspace/external/R-debug"]
	path = /workspace/external/R-debug
	url = https://github.com/PRL-PRG/r-compiler-server-gnur
