### Claude ###
out

### Tempfiles ###
.devcontainer/.features.temp.dockerfile

### VS Code ###
# We actually want to sync this
# .vscode/

### Mac OS ###
.DS_Store

### R ###
.RData
.Rhistory
R/doc/manual/*.html
R/doc/NEWS.pdf
..Rcheck

### R build artifacts ###
R*/.cache/
R*/Makeconf
R*/Makedeps
R*/Makefile
R*/Makefrag.cc
R*/Makefrag.cc_lo
R*/Makefrag.cxx
R*/Makefrag.m
R*/bin
R*/compile_commands.json
R*/config.log
R*/config.status
R*/etc
R*/include
R*/lib
R*/library
R*/libtool
R*/m4
R*/modules
R*/po
R*/share
R*/src/**/*.a
R*/src/**/*.d
R*/src/**/*.o
R*/src/**/*.so
R*/src/main/R.bin
R*/src/scripts/R.fe
R*/src/scripts/R.sh
R*/src/scripts/Rcmd
R*/src/scripts/javareconf
R*/src/scripts/mkinstalldirs
R*/src/scripts/pager
R*/src/scripts/rtags
R*/src/unix/Rscript
R*/stamp-java

### C ###
.cache
.gdb_history
compile_commands.json
*.so
*.o

### IntelliJ IDEA ###
/.idea/uiDesigner.xml
.idea/modules.xml
.idea/workspace.iml
