[submodule "external/R"]
	path = external/R
	url = git@github.com:kocoumat/r-rcp.git
[submodule "external/r-compile-server"]
	path = external/r-compile-server
	url = git@github.com:kocoumat/r-compile-server.git
