.cache/
.gdb_history
.RData
.Rhistory
.Rhistory
.vscode/
perf.data
/rcp/benchmark-results
/rcp/src/stencils/.stencils_flags
/rcp/tests/perf/*.old
/rcp/tests/perf/*.data
/rcp/tests/perf/profile.json.gz
/rcp/.install-stamp
