.vscode/

rcp/build/
rcp/.cache/clangd/index
rcp/.RData
rcp/.Rhistory
rcp/.gdb_history
rcp/benchmark-results
rcp/tests/debugging/*/actual.log
.Rhistory
.cache/
rcp/compile_commands.json
rcp/src/shared/libshared.a
